.container.botton {
    margin-top: 10px;
    margin-bottom: 10px;
}

button.bottom {
    background-color: #52672E;
    color: #FFFFFF;
}

input:placeholder-shown:focus+label::after {
    content: 'Este campo no puede estar vacio';
    color: red;
}

input:not(:placeholder-shown):focus+label::after {
    content: '';
}

input:invalid:focus:not(:placeholder-shown)+label::before {
    content: 'Error en la informacion ingresada';
    color: red;
}

input:valid:focus+label::before {
    content: '';
}

table {
    table-layout: fixed;
}

table td {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    white-space: nowrap;
}