.menu.catalago {
    margin-right: 15VW;
    margin-left: 10VW;
}

.menu.catalago.despegable {
    margin-top: 2VH;
}

.menu.movimientos {
    margin-right: 20VW;
    margin-left: 16VW;
}

.menu.movimientos.despegable {
    margin-left: 11VW;
    margin-right: 0VW;
    margin-top: 2VH;
}

.menu.consultas {
    margin-right: 5VW;
    margin-left: 5VW;
}

.menu.consultas.despegable {
    margin-left: -12VW;
    margin-right: 0VW;
    margin-top: 2VH;
}