 button.btn.insert, button.btn.new, button.btn.cancel{
    margin-top: 20px;
    margin-bottom: 15px;
}

button.btn.update, button.btn.insert, button.btn.new, button.btn.show{
    color: #FFFFFF;
    background-color: #52672E;
    border-color: #52672E;
}

button.btn.cancel{
    color: #FFFFFF;
    background-color: #672e2e;
    border-color: #672e2e;
}


div.show{
    display: block;
}

div.hide{
    display: none;
}
